---
layout: default
---
%script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
:javascript
  $(document).ready(function() {
    $("#url").text(window.location.pathname);
  })
%h1
  Sorry, the page
  %span#url
  could not be found.
%h2
  Perhaps try
  %a{href: "/"} home
  instead?
