---
layout: portfolio
---
.seven.columns
  %h3 FAQ
  %h4 What do you work on?
  %ol
    %li Business challenges that can be solved with software
    %li Improving software development processes (the human side of software development)

  %h4 What are your skills?
  %p
    Leadership and technical expertise. See my
    = succeed "." do
      %a{href: "/static/doc/ChrisHaueterResume.pdf", :target => "_blank"} résumé

  %h4 Where have you worked?
  %p
    Currently,
    = succeed "." do
      %a{href: "https://www.appdynamics.com/", :target => "_blank"}> AppDynamics
    Previously,
    %a{href: "http://pivotal.io/platform-as-a-service/pivotal-cloud-foundry", :target => "_blank"} Pivotal Cloud Foundry
    and
    = succeed "." do
      %a{href: "http://pivotallabs.com/", :target => "_blank"} Pivotal Labs

  %h4 Are you currently looking for work?
  %p
    Maybe. Send me a quick
    %a{href: "mailto:chris.haueter@gmail.com", :target => "_blank"} email
    and I'll let you know.


.six.columns.omega
  %img{:alt => "", :src => "/static/img/chris-haueter-profile-photo.jpg", :width => "340px"}/
