/* #Site Styles
================================================== */
/* @font-face { */
    /* font-family: 'charterregular'; */
    /* src: url('charter_regular-webfont.eot'); */
    /* src: url('charter_regular-webfont.eot?#iefix') format('embedded-opentype'), */
         /* url('charter_regular-webfont.woff') format('woff'); */
    /* font-weight: normal; */
    /* font-style: normal; */
/* } */

/* p, li { */
  /* font-family: charterregular; */
  /* font-size: 20px; */
  /* line-height: 27px; */
/* } */


/* div.nav-list ul { */
  /* list-style-type: none; */
/* } */

h1 {
	margin-top: 40px;
}
h1 a {
	text-decoration: none;
}

h3#subtitle {
	margin-top: 10px;
	margin-bottom: 0px;
}

div.footer {
	text-align: center;
	padding-top: 16px;
	font-size: 12px;
	font-style: italic;
}

a:hover {
	color: #466BB0;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
