!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width", name: "viewport"}
    %title {{ page.title }}
    %link{href: "{{ site.url }}/static/img/favicon.png", rel: "shortcut icon", type: "image/png"}
    %link{href: "{{ site.url }}/static/css/syntax.css", rel: "stylesheet"}
    %link{href: "{{ site.url }}/static/css/main.css", rel: "stylesheet"}
  %body
    .container
      .site
        .header
          %h1.title
            %a{href: "/"} {{ site.name }}
          %a.extra{href: "/blog"} blog
          %a.extra{href: "/static/doc/ChrisHaueterResume.pdf", target: '_blank'} résumé

        {{ content }}

        .footer
          .contact
            %p
              Chris Haueter
              %br/
              Software Engineer &amp; Full Stack Web Developer
              %br/
              %a{href: "mailto:chris.haueter@gmail.com"} chris.haueter@gmail.com
          .contact
            %p
              %a{href: "http://github.com/chrishaum/"} github.com/chrishaum
              %br/
              %a{href: "http://twitter.com/chrishaum/"} twitter.com/chrishaum
              %br/
