!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width", name: "viewport"}
    %title {{ page.title }}
    %link{href: "{{ site.url }}/static/img/favicon.png", rel: "shortcut icon", type: "image/png"}
    %link{href: "{{ site.url }}/static/css/base.css", :rel => "stylesheet"}
    %link{href: "{{ site.url }}/static/css/skeleton.css", :rel => "stylesheet"}
    %link{href: "{{ site.url }}/static/css/layout.css", :rel => "stylesheet"}
    :javascript
      window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
      window.analytics.load("tx25cxicjr");
      window.analytics.page();
  %body
    .container
      .sixteen.columns
        %h1.remove-bottom
          %a{href: '/'} Chris Haueter
        %h3#subtitle Senior Software Engineer &amp; DevOps Engineer
        %hr
      .three.columns
        %h3 Contact
        %ul.nav-list
          %li
            %a{href: "mailto:chris.haueter@gmail.com", :target => "_blank"} Email
          %li
            %a{href: "/static/doc/ChrisHaueterResume.pdf", :target => "_blank"} Résumé
          %li
            %a{href: "https://github.com/chrishaum/", :target => "_blank"} Github
          %li
            %a{href: "https://www.linkedin.com/in/chrishaueter/", :target => "_blank"} LinkedIn
          %li
            %a{href: "https://twitter.com/chaueter", :target => "_blank"} Twitter
          %li
            %a{href: "http://stackoverflow.com/users/130870/chris-haueter", :target => "_blank"} Stack Overflow

      {{ content }}

      .sixteen.columns.footer
        %a{:href => "https://givedirectly.org"} GiveDirectly
        Send money directly to the extreme poor.
